{{ form_start(form) }}

<div class="d-flex flex-column align-items-center m-5">


    <div class="form-row w-50">
        <div class="form-group">
            {{ form_row(form.label) }}
        </div>
    </div>
    </div>

    {{ form_rest(form) }}
    <div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-primary mt-4" value="Valider"/>
    </div>
{{ form_end(form) }}