{% extends 'base.html.twig' %}

{% block title %}Liste langage!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="all-language d-flex flex-row justify-content-between m-1 p-1">
                    {% for language in languages %}
                    <p class="text-white">{{ language.label }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}
