{% extends 'base.html.twig' %}

{% block title %} Ajouter un algorithme {% endblock %}

{% block body %}

    <h1 class="text-white text-center">Ajouter un algorithme</h1>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                {{ include ('algorithm/_form.html.twig') }}
            </div>
        </div>
    </div>

    <a href="{{ path('app_home') }}">
        <button class="btn btn-primary text-white m-4">Retour à l'accueil</button>
    </a>

{% endblock %}
